/* VARIABLES */

/* MAIN COLORS */

$copart-blue: #0D5DB8;
$accent-blue: #0185FE;
$background-blue: #B7DEFF;
$auction: #3DB832;
$caution: #F8C500;
$registration: #F25800;
$body-font: #ACBCCB;

$brand: #0185FE;
$web-design: #0174F1;
$resources:#0066D5;

/* SECONDARY COLORS */

$darkest-grey: #3A4352;
$dark-grey: #687386;
$dark-blue: #06335C;

/* REBUILD COLORS */

$light-neon: #B9ECFF;
$neon-blue: #9DE4FF;
$neon-orange: #EA853A;

.rebuild {
	
	background-color: black;
	width: 100%;
	overflow-x: hidden;


h1 {
	font-family: erbaum, sans-serif;
	font-weight: 900;
	font-style: normal;
	color: $light-neon;
	font-size: 40px;
	margin: 0 0 24px 0;
	line-height: 1.6em;
	text-align: center;
}

h2 {
	font-family: erbaum, sans-serif;
	font-weight: 900;
	font-style: normal;
	color: $light-neon;
	font-size: 24px;
	margin: 0 0 16px 0;
	line-height: 1.6em;
}

h3{
	font-family: usual, sans-serif;
	color: $copart-blue;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.3em;
	margin-bottom: 16px;
}

p {
	font-family: Usual, sans-serif;
	font-size: 18px;
	line-height: 1.6em;
	color: $light-neon;
}

a {
	font-family: erbaum, sans-serif;
	font-weight: 900;
	font-style: normal;
	color: $neon-orange;
	text-decoration: none;
	cursor: pointer;
	padding-left: 8px;
	transition-timing-function: ease-in-out;
	transition-duration: .3s;
}
	a:hover {
		color: FFB681;
	}

	
	.logo {
			display: block;
			margin: auto;
			padding-top: 80px;
		}
	
	/* HERO */
	
	.hero {
		background-image: url("https://copart.com/content/main-background.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 900px;
		width: 100%;
		overflow: hidden;
		
		h1 {
			text-align: center;
			margin-right: 8px;
			transition-timing-function: ease-in-out;
			transition-duration: .3s;
			margin-top: 24px;
			font-size: 48px;
		}
		
		h1:hover {
			color: $neon-orange;
		}
		
		a {
		display: flex;
		justify-content: center;
		}
		
		
		.orange-left {
			transform:rotate(180deg);
			opacity: 60%;
			margin-left: -40px;
		}
		
		.orange-right {
			opacity: 60%;
			margin-right: -40px;
		}
		
	}
	
	.cars {
			display: flex;
			justify-content: space-between;
			margin-top: -80px;
		
		.center-motorcycle {
			height: 350px;
			z-index: 1;
		}
		
		.outer-cars {
			height: 200px;
			z-index: 1;
		}
		}
	
	.how-it-works {
		
		margin-top: 80px;
		margin-bottom: 80px;
		
		h1 {
				max-width: 800px;
				margin: auto;
				margin-bottom: 40px;
			}
			
			p {
				max-width: 650px;
				margin: auto;
			}
		
		.what-is-rebuild {
			border: 2px solid $neon-blue;
			border-radius: 6px;
			display: block;
			margin: auto;
			max-width: 800px;
			width: 80%;
			height: auto;
			justify-content: center;
			text-align: center;
			padding: 32px;
			
			a {
				color: $copart-blue;
				background-color: $neon-blue;
				padding: 18px 24px;
				border-radius: 6px;
				display: block;
				margin: auto;
				width: 30%;
				transition-timing-function: ease-in-out;
				transition-duration: .3s;
				font-size: 18px;
				
			}
			
			a:hover {
				background-color: $neon-orange;
				color: white;
			}
			
		}
		
	}
	
	.how-to-enter {
		background-image: url("https://copart.com/content/diamond-plate-background.png");
		min-height: 500px;
		background-size: cover;
		background-repeat: no-repeat;
		
		ul {
			list-style-type: none;
			color: $light-neon;
			text-align: left;
			font-family: Usual, sans-serif;
			font-weight: 500;
			max-width: 700px;
			line-height: 2em;
			
			li {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: baseline;
				font-size: 16px;
				
				h2 {
					padding-right: 8px;
				}
			}
			
		}
		
	}
	
	.flex {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 900px;
		width: 90%;
		margin: auto;
		min-height: 500px;
		justify-content: center;
	}
	
	.enter-now {
		
		background-image: url("https://copart.com/content/lights-background.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		
		a {
			display: block;
			margin: auto;
			width: max-content;
			padding: 24px;
			color: $neon-blue;
			border: 3px solid $neon-blue;
			border-radius: 6px;
			text-align: center;
			font-size: 40px;
			margin-top: 80px;
			margin-bottom: 120px;
			transition-timing-function: ease-in-out;
			transition-duration: .3s;
		}
		
		a:hover {
			background-color: $neon-orange;
			color: white;
			border: $neon-orange;
		}
		
		.flex {
			display: flex;
			flex-direction: row;
			justify-content: center;
			
			
			.two-thousand {
				order: 1;
			}
			
			.five-thousand {
				order: 2;
			}
			
			.one-thousand {
				order: 3;
			}
		}
		
	}
	
	.previous-winners {
		
		margin-top: 120px;
		
		h2 {
			padding: 24px;
			background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,0) 100%);
		}
		
		.flex {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			padding-bottom: 80px;
			min-height: 100px;
			
			
			.image {
				
				background-size: 100%;
    			background-position: bottom center;
    			background-repeat: no-repeat;
    			transition: all 0.2s ease;
				
			}
			
			.left-one {
				background-image: url("https://copart.com/content/2019-before-after.png")
			}
			
				.left{
					background-image: url("https://copart.com/content/corkyt-winner.jpg");
				}
				
				.right{
					background-image: url("https://copart.com/content/rebuild_2016_img.jpg");
				}
				
				.middle{
					background-image: url("https://copart.com/content/rebuild_2017_img.jpg");
				}
			
			.image:hover {
				background-position: top center;
			}
			
			.image-wrapper {
				display: inline-block;
    			position: relative;
    			text-align: center;
   				width: 200px;
    			height: auto;
    			padding: 6% 0;
    			vertical-align: top;
				border: 3px solid $neon-blue;
				border-radius: 6px;
				box-shadow: 0 0 2px #fff, 0 0 5px #A8F9FE, 0 0 10px #A8F9FE, 0 0 20px #A8F9FE;
			}
			
		}
	}
	
	.ready-set-rebuild {
		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		background-image: url("https://copart.com/content/blue-arrow.svg");
		background-repeat: no-repeat;
		background-position: left;
		
		h1 {
			margin: 0;
		}
		
			a {
				color: $copart-blue;
				background-color: $neon-blue;
				padding: 12px 18px;
				border-radius: 6px;
				display: block;
				min-width: 10%;
				text-align: center;
				transition-timing-function: ease-in-out;
				transition-duration: .3s;
				font-size: 16px;
			}
		
		a:hover {
			color: white;
			background-color: $neon-orange;
		}
	}
	
	@media only screen and (max-width: 1200px) {
		
		
			.hero {
				.orange-left {
					margin-left: -80px;
				}
				
				.orange-right {
					margin-right: -80px;
				}
			}
		
		.cars {
			justify-content: center;
			
			.center-motorcycle {
				height: 250px;
			}
		}
		
	}
	
	@media only screen and (max-width: 850px) {
		
		
			.hero {
				.orange-left {
					margin-left: -240px;
				}
				
				.orange-right {
					margin-right: -240px;
				}
			}
		
		.enter-now {
			.flex {
				
				.one-thousand {
					height: 200px;
				}
				
				.two-thousand {
					height: 200px;
				}
				
				.five-thousand {
					height: 300px;
				}
			}
		}
		
		.how-it-works {
			.what-is-rebuild{
				
				a {
					width: auto;
				}
				
			}
		}
		
		.previous-winners {
			.flex {
				.image-wrapper {
					width: 550px;
					padding: 20% 0;
					margin-bottom: 24px;
				}
				
					p {
				display: none;
			}
			}
		}
		
		.enter-arrows {
			display: none;
		}
		
		.ready-set-rebuild {
			h1 {
				font-size: 24px;
			}
		}
		
		.ready-set-rebuild {
			flex-direction: column;
			
			a {
				width: 90%;
				margin: 8px 0;
			}
			}
		
	}
	
	@media only screen and (max-width: 600px) {
		
	
		.previous-winners {
			
			margin-top: 64px;
			
			.flex {
				.image-wrapper {
					width: 350px;
					padding: 18% 0;
					margin-bottom: 12px;
				}
				

			}
			
			
		}
		
		h1 {
			font-size: 28px;
		}
		
		h2 {
			font-size: 18px;
		}
		
		p {
			font-size: 15px;
		}
		
		.how-to-enter {
			
			ul {
				font-size: 14px;
			}
			
		}
		
			.enter-now {
				
				a {
					font-size: 24px;
					margin-top: 40px;
					margin-bottom: 40px;
					width: 70%;
				}
			.flex {
				
				.one-thousand {
					height: 100px;
				}
				
				.two-thousand {
					height: 100px;
				}
				
				.five-thousand {
					height: 150px;
				}
			}
		}
		
		
		
	}
	
	@media only screen and (max-width: 420px) {
		.hero {
			
			min-height: 600px;
			
			.orange-left {
				margin-left: -160px;
				height: 100px;
			}
			.orange-right {
				margin-right: -160px;
				height: 100px;
			}
	}
		
		.cars {
			margin-top: -40px;
			
			.center-motorcycle {
				height: 175px;
			}
			
			.outer-cars {
				height: 100px;
				display: none;
			}
		}
		
		
		.previous-winners {
			
			.flex {
				.image-wrapper {
					width: 230px;
					padding: 18% 0;
					margin-bottom: 12px;
				}
			}
		}
		
	}
}